body{
    background-color: rgb(250, 250, 250);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}  

#yoyoimgone{
    width:25vh;
    height:25vh;
}

@media(min-width: 768px){
    .email-bar{
        width: 50%;
    }
}

.links{
    text-decoration: none;
    color: white;
}